Flask
Flask-RESTful
Flask-Cors
mysql-connector-python
python-dotenv
SQLAlchemy==1.4.46
sqlalchemy<2.0
Flask-SQLAlchemy
psycopg2-binary # PostgreSQL database adapter for Python
pytest
pytest-cov
python-dotenv
pyjwt
gunicorn
gevent