name: Run Flask Tests with Docker Compose


on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build and run test environment with Docker Compose
        run: docker compose -f docker-compose.test.yml up --build --abort-on-container-exit

      - name: Tear down containers
        if: always()
        run: docker compose -f docker-compose.test.yml down -v
